@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap');

:root{
    --page-bg: white;
    --header-bg: rgba(255,255,255,0.8);
    --header-color: #212121;
    --base-shadow: 0 10px 20px rgba(0,0,0,0.25);
    --accent-color: var(--brand-primary);
    --accent-color: var(--primary-dark-minimum);
    accent-color: var(--accent-color);
    --link-color: #004d40;
    --link-color-hover: var(--accent-color);
    --footer-bg: #c7d1d0;
    --footer-color: #00665c;
    --spacing-ingline: 30px;
    --border-radius: 20px;
    --border-radius-sm: 8px;
    --regular-padding: 10px;
    --text-color: #212121;
    --font-size-base: 16px;
    --brand-primary: #009688;
    --brand-primary-contrast: white;
    --bg-light: color-mix(in sRGB, var(--brand-primary), var(--page-bg) 90%);
    --font-family-base: "Source Sans 3", sans-serif; 
    --font-family-headings: "Source Serif 4", serif; 
    --minimus-clicable-area: 44px;
}

*{
    accent-color: var(--accent-color)!important;
}
*:focus,
*:focus-visible {
  outline: 2px solid var(--accent-color);
  outline-offset: 2px
}
@media (min-width: 768px) {
    :root{
        --spacing-ingline: 75px;
    }
}

/*Laptop*/
@media (min-width: 992px) {
    :root{
        --spacing-ingline: 165px;
        --font-size-base: 18px;
    }
}

/*Desktop*/
@media (min-width: 1200px) {
    body{
        margin-top: 120px;
    }
}


button, .btn, input,select{
    min-height: var(--minimus-clicable-area);
    min-width: var(--minimus-clicable-area);
} 

body{
    font-family: var(--font-family-base);
    font-size: var(--font-size-base);
    margin: 0;
    color: var(--text-color);
    background: var(--page-bg);
    -webkit-font-smoothing: antialiased;
    
}

body:has(header.custom-header:not(.fixed)){
    margin-top: 200px;
}

a{
    text-decoration: none;
    color: var(--link-color);
}

a:hover{
    text-decoration: underline;
    color: var(--link-color-hover);
}

a.btn{
    padding: 12px 24px;
    background-color: var(--brand-primary);
    color: var(--brand-primary-contrast);
    border-radius: var(--border-radius);
    transition: all 0.2s;
    width: fit-content;
 }

a.btn:hover,
a.btn:focus,
a.btn:hover:focus{
    padding: 12px 24px;
    text-decoration: underline;
    border-radius: var(--border-radius);
    box-shadow: var(--base-shadow);
}


.sr-only{
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6{
    font-weight: bold;
    font-family: var(--font-family-headings);
}

.font-heading{    font-family: var(--font-family-headings)!important;}
.font-base{    font-family: var(--font-family-base)!important;}

h1, .h1{
    font-size: calc(var(--font-size-base) * 2.986);
}
h2, .h2{
    font-size: calc(var(--font-size-base) * 2.488);
}
h3, .h3{
    font-size: calc(var(--font-size-base) * 2.074);
}
h4, .h4{
    font-size: calc(var(--font-size-base) * 1.728);
}
h5, .h5{
    font-size: calc(var(--font-size-base) * 1.44);
}
h6, .h6{
    font-size: calc(var(--font-size-base) * 1.2);
}

/* Header */
header.custom-header{
    background-color: var(--header-bg);
    backdrop-filter: blur(20px);
    z-index: 1000;
    box-shadow: var(--base-shadow);
    padding: 10px;
    border-radius: var(--border-radius);
    display: flex;
    flex-direction: column;
    margin: 10px;
}

body header.custom-header:not(.fixed){
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}


header.custom-header .site-logo{
    width: fit-content;
    height: fit-content;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
    gap: 16px;
}

header.custom-header .site-logo a{
    color: var(--header-color);
    text-decoration: none;
    font-size: 2rem;
}
header.custom-header .site-logo a::before{
    content: "";
    position: absolute;
    inset: 0;
}

header.custom-header .site-logo a:hover{
    color: var(--accent-color);
}

header.custom-header nav ul{
    list-style-type: none;
    display: flex;
    gap: 30px;
    flex-direction: row;
    padding-inline: 20px;
    flex-wrap: wrap;
}

header.custom-header nav ul a{
    font-size: 1.25rem;
}

header.custom-header nav ul a.selected{
    font-weight: 700;
}

/*Tablet*/
@media (min-width: 768px) {
    header.custom-header{
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        max-height: 100px;
    }
}

/*Laptop*/
@media (min-width: 992px) {
    body{
        margin-top: 120px;
    }    
    body header.custom-header{
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
    }
}

/*Desktop*/
@media (min-width: 1200px) {
    
}

/*Footer*/
footer{
    background-color: var(--footer-bg);
    color: var(--footer-color);
    padding: 10px var(--spacing-ingline);
    max-width: 100vw;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

@media (min-width: 768px) {
    footer{
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        max-height: 100px;
    }
}


/*Main*/
main{
    padding-inline: var(--spacing-ingline);
    display: flex;
    flex-direction: column;
    gap: 80px;
    margin-bottom: 80px;
}


/*Portada*/
body.portada main section#toolsList{
    flex-grow: 1;
}

body.portada main section#toolsList ul{ 
    list-style-type: none;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    gap: 30px;
}
/*Tablet*/
@media (min-width: 768px) {

    body.portada main section#toolsList ul{ 
        display: grid;
        grid-template-columns:repeat(2, 1fr);
    }
}

/*Laptop*/
@media (min-width: 992px) {
    body.portada main section#toolsList ul{ 
        grid-template-columns:repeat(2, 1fr);
    }
}

/*Desktop*/
@media (min-width: 1200px) {
    body.portada main section#toolsList ul{ 
        grid-template-columns:repeat(3, 1fr);
    }
}

body.portada main section#toolsList ul li{
    display: flex;
}

body.portada main section#toolsList ul li article{
    width: 100%;
    position: relative;
}


body.portada main section#toolsList ul li article figure{
    width: fit-content;
    margin: 0;
    padding: 0;
    margin-bottom: 16px;
    overflow: hidden;
    aspect-ratio: 16/9;
    border-radius: var(--border-radius);
    transition: all 0.2s;
}

body.portada main section#toolsList ul li article figure img
{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: scale(1);
    transition: all 0.2s;
}

body.portada main section#toolsList ul li article h3{
    margin: 0;
}

body.portada main section#toolsList ul li article a::before {
    position: absolute;
    content: "";
    inset: 0;
}

body.portada main section#toolsList ul li article p{
    margin-top: 8px;
    opacity: 0.6;
}

body.portada main section#toolsList ul li article:has(a:hover) figure img{
    transform: scale(1.1);
}
body.portada main section#toolsList ul li article:has(a:hover) figure{
    box-shadow: var(--base-shadow);
}
 body.portada main section#aboutMe{
    background-color: var(--bg-light);
    border-radius: var(--border-radius);
    padding: var(--regular-padding);
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 30px;
 }
 body.portada main section#aboutMe figure{
    margin: 0;
    padding: 0;
    border-radius: calc(var(--border-radius) - var(--regular-padding));
    overflow: hidden;
    aspect-ratio: 1;
 }
 body.portada main section#aboutMe figure img{
    width: 100%;
    height: 100%;
    object-fit: cover;
 }

 body.portada main section#aboutMe .text{
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 16px;
    padding: var(--regular-padding);
 }
 body.portada main section#aboutMe .text h2{
    margin: 0;
    margin-bottom: 8px;
 }

 body.portada main section#aboutMe .text p{
    font-size: 1.25rem;
    margin: 0;
 }

 /*Tablet*/
@media (min-width: 768px) {
    body.portada main section#aboutMe{
        flex-direction: row;
    }
    body.portada main section#aboutMe figure{
        min-width: 350px;
     }
}

/*Laptop*/
@media (min-width: 992px) {
    
}

/*Desktop*/
@media (min-width: 1200px) {
    
}


/*contrast checker*/
.ColorContrastAccessibilityTest section.params {
    background-color: var(--header-bg);
    backdrop-filter: blur(20px);
    z-index: 1000;
    box-shadow: var(--base-shadow);
    padding: 1rem;
    border-radius: var(--border-radius);
    display: flex;
    flex-direction: column;
    margin: 1rem;
    gap: 30px;
  }

.ColorContrastAccessibilityTest .params .field{
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: auto;
    flex-grow: 1;
    column-gap: 0.5rem;
}

.ColorContrastAccessibilityTest .params .field label,
.ColorContrastAccessibilityTest .params .field select{
    grid-column-start: 1;
    grid-column-end: 3;
}

.ColorContrastAccessibilityTest button{
    border-radius: var(--border-radius-sm);
    border: none;
    color: var(--primary-dark-minimum);
    background-color: transparent;
    padding: 1rem 2rem;
    font-size: 1rem;
    font-weight: bold;
    transition: all 0.2s ;
    height: fit-content;
}

.ColorContrastAccessibilityTest button:hover,
.ColorContrastAccessibilityTest button:focus{
    background-color: var(--primary-color);
    color: var(--primary-contrast);
    text-decoration: underline ;
}

.ColorContrastAccessibilityTest .params .field label{
    font-size: 0.9rem;
    font-weight: bold;
}

.ColorContrastAccessibilityTest .params .field input[type="text"],
.ColorContrastAccessibilityTest .params .field select{
    text-transform: uppercase;
}

input[type="text"],
input[type="password"],
input[type="number"],
select{
    padding-inline: 1rem;
    font-size: 1.1rem;
    font-weight: 300;
    border-radius: var(--border-radius-sm);
    border: 2px solid color-mix(in srgb, var(--brand-primary), gray 80%);
    color: var(--text-color);
}

body.ColorContrastAccessibilityTest {
    background-color: var(--page-bg);
}

body.ColorContrastAccessibilityTest h1, 
body.ColorContrastAccessibilityTest .h1, 
body.ColorContrastAccessibilityTest h2, 
body.ColorContrastAccessibilityTest .h2, 
body.ColorContrastAccessibilityTest h3, 
body.ColorContrastAccessibilityTest .h3, 
body.ColorContrastAccessibilityTest h4, 
body.ColorContrastAccessibilityTest .h4, 
body.ColorContrastAccessibilityTest h5, 
body.ColorContrastAccessibilityTest .h5, 
body.ColorContrastAccessibilityTest h6, 
body.ColorContrastAccessibilityTest .h6 {
    color: var(--primary-dark);
    margin: 0;
}


.ColorContrastAccessibilityTest .example-color {
    background: var(--bg-color);
    color: var(--text-color-original);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 1rem;
    margin-top: 20px;
    border-radius: var(--border-radius);
    text-align: center;
  }

  .ColorContrastAccessibilityTest .example-color .h1{
    color: var(--text-color-original);
  }

  .ColorContrastAccessibilityTest #css-result {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 10px;
    border-radius: var(--border-radius);
    box-shadow: var(--base-shadow);
    overflow: hidden;
  }

  .ColorContrastAccessibilityTest #css-result p {
    min-width: 300px;
    flex-grow: 1;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
  }

  .ColorContrastAccessibilityTest #css-result p strong {
    margin-right: 8px;
  }

  .ColorContrastAccessibilityTest #All-Variables{
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  .ColorContrastAccessibilityTest #All-Variables > p{
    margin: 0;
  }

  .ColorContrastAccessibilityTest .mesPropera {
    border-right: 2px solid var(--text-color);
    border-left: 2px solid var(--text-color);
  }

  .ColorContrastAccessibilityTest .colMesProper {
    border-top: 2px solid var(--text-color);
    border-bottom: 2px solid var(--text-color);
  }

  .ColorContrastAccessibilityTest .color.no-A p {
    text-decoration: line-through red 2px double;
  }

  .ColorContrastAccessibilityTest .color.accessible-unreach {
    opacity: 0.2;
  }

  .ColorContrastAccessibilityTest .color .color-box {
    transition: 0.2s;
    position: relative;
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
  }

  .ColorContrastAccessibilityTest .color.mesProper p {
    font-weight: bold;
    font-size: 20px;
    text-decoration: underline;
  }

  .ColorContrastAccessibilityTest #color-pruposal {
    text-align: center;
  }

 .ColorContrastAccessibilityTest .color.selected .color-box {
    box-shadow: inset 0px 0px 0px 10px rgba(0, 0, 0, 0.1);
  }

  .ColorContrastAccessibilityTest .color {
    width: 100%;
  }

  .ColorContrastAccessibilityTest .color:hover label,
  .ColorContrastAccessibilityTest .color.focus label {
    font-weight: bold;
    transition: 0.3s;
  }

  .ColorContrastAccessibilityTest .color-preview {
    min-width: 300px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
  }

  .ColorContrastAccessibilityTest .color-preview:hover {
    cursor: pointer;
    opacity: 0.9;
    filter: saturate(50%) brightness(0.9);
  }

  .ColorContrastAccessibilityTest #color-result{
    border: 2px solid black;
    border-radius: var(--border-radius);
    overflow: hidden;
  }

  /*Laptop*/
  @media (min-width: 992px) {
    .ColorContrastAccessibilityTest section.params {
        flex-direction: row;
        align-items: flex-end;
    }

    .ColorContrastAccessibilityTest #css-result {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (min-width: 768px){
    .ColorContrastAccessibilityTest section.params {
        position: fixed;
        bottom: 10px;
        left: var(--spacing-ingline);
        right: var(--spacing-ingline);
    }
}
