@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap');

:root{
    /*Tipography*/
    --font-family-base: "Source Sans 3", sans-serif;
    --font-family-headings: "Source Serif 4", serif;
    --font-size-base: 16px;
    --font-size-h1: 2.986rem;
    --font-size-h2: 2.488rem;
    --font-size-h3: 2.074rem;
    --font-size-h4: 1.728rem;
    --font-size-h5: 1.44rem;
    --font-size-h6: 1.2rem;
    --font-size-description: 1.1rem;
    --font-size-small: 0.833rem;
    --line-height-small: 1.5;

    /*Theme*/
    --primary-brand: #64ffda;
    --primary-contrast: #020303;
    --primary-bg: #00a881;
    --primary-dark: #00664e;
    --primary-dark-min: #008566;
    --primary-light: #99ffe7;
    --primary-light-min: #66ffdb;
    --primary-AA: var(--primary-dark-min);

    --secondary-brand: #f29175;
    --secondary-contrast: #030202;
    --secondary-bg: #ee6d49;
    --secondary-dark: #5d1b09;
    --secondary-dark-min: #d63e14;
    --secondary-light: #f6b4a2;
    --secondary-light-min: #f28f73;
    --secondary-AA: var(--secondary-dark-min);

    --text-color: #212121;

    --page-bg: #ffffff;
    
    /*Constants*/
    font-size: var(--font-size-base);
    --primary-accessible: var(--primary-dark-min);
    --secondary-accessible: var(--secondary-dark-min);
    --accent-color: var(--secondary-accessible);
    accent-color: var(--accent-color);
    --minimus-clicable-area: 44px;
    --link-color: var(--primary-accessible);
    --link-color-hover: var(--primary-dark);
    --spacing-inline: 30px;
    --base-transition: all 0.2s;

    --base-gap: 30px;
    --big-gap: 80px;
    --base-shadow: 0 0 10px color-mix(in srgb, var(--text-color) 16%, transparent);

    --radius-xl: 20px;
    --radius-sm: 4px;

    --tablet-break: 768px;
    --laptop-break: 992px;
    --desktop-break: 1200px;
}

@media (prefers-color-scheme: dark) {
    :root {
        --page-bg: #212121;
        --text-color: #ffffff;
        --primary-AA: var(--primary-light-min);
        --secondary-AA: var(--secondary-light-min);
    }
}


/*Generic rules*/
*{
    transition: var(--base-transition);
}
body{
    font-family: var(--font-family-base);
    font-size: var(--font-size-base);
    margin: 0;
    color: var(--text-color);
    background: var(--page-bg);
    -webkit-font-smoothing: antialiased;   
}

a{
    text-decoration: none;
    color: var(--link-color);
    transition: var(--base-transition);
}

a:hover{
    text-decoration: underline;
    color: var(--link-color-hover);
}


.sr-only{
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6{
    font-weight: bold;
    font-family: var(--font-family-headings);
    margin: unset;
}
.font-heading{    font-family: var(--font-family-headings)!important;}
.font-base{    font-family: var(--font-family-base)!important;}
.font-regular{  font-weight: normal!important;}
.font-bold{  font-weight: 700!important;}
.font-light{  font-weight: 300!important;}
h1, .h1{
    font-size: var(--font-size-h1);
}
h2, .h2{
    font-size: var(--font-size-h2);
}
h3, .h3{
    font-size: var(--font-size-h3);
}
h4, .h4{
    font-size: var(--font-size-h4);
}
h5, .h5{
    font-size: var(--font-size-h5);
}
h6, .h6{
    font-size: var(--font-size-h6);
}
.description{
    font-size: var(--font-size-description);
    font-weight: 300;
    margin: 0;
    margin-bottom: 8px;
}
.text-primary-AA{
    color: var(--primary-accessible);
}

ul.unstyled-list{
    padding-left: unset;
    list-style-type: none;
}

button,
.btn{
    padding: 8px 16px;
    display: flex;
    flex-direction: row;
    gap: 8px;
    font-weight: 500;
    border: 1px solid var(--text-color);
    color: var(--text-color);
    background-color: var(--page-bg);
    border-radius: var(--radius-sm);
    font-size: 1rem;
}
button:hover,
button:focus,
.btn:hover,
.btn:focus
{
    background-color: var(--text-color);
    color: var(--page-bg);
}

.btn-primary{
    color: var(--primary-AA);
    border-color: var(--primary-AA);
}

.btn-primary:hover,
.btn-primary:focus{
    color: var(--primary-contrast);
    border-color: var(--primary-brand);
    background-color: var(--primary-brand);
}

@media screen and (min-width: 720px) { /*720px tablet > 920px laptop > 1200px Desktop > 1400px desktopXL*/
    :root{
        --spacing-inline: 80px;
    }
}
@media screen and (min-width: 920px) { /*720px tablet > 920px laptop > 1200px Desktop > 1400px desktopXL*/
    :root{
        --spacing-inline: 120px;
    }
}
@media screen and (min-width: 1200px) { /*720px tablet > 920px laptop > 1200px Desktop > 1400px desktopXL*/
    :root{
        --spacing-inline: 160px;
    }
}

/*Main*/
body main{
    display: flex;
    flex-direction: column;
    gap: var(--big-gap);
    margin-top: var(--big-gap);
    padding-inline: var(--spacing-inline);
}

/* Header */
header{
    padding: 10px 40px;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    align-items: center;
    justify-content: center;
    position: sticky;
}
header a#site-logo{
    color: var(--text-color);
}
header a#site-logo:hover,
header a#site-logo:focus{
    color: var(--link-color);
    text-decoration: unset;
}
header nav ul{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 18px;
}
header nav ul li{
    text-align: center;
}

.language-selector a{
    font-weight: 300;
}

.language-selector a[aria-selected="true"]{
    font-weight: 900;
}

.language-selector ul{
    display: flex;
    flex-direction: row;
}

@media (min-width: 992px) {
    header{
        flex-direction: row;
        justify-content: space-between;
    }
    header nav ul{
        flex-direction: row;
    }
}
/**/
section.params {
    z-index: 1000;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    margin: 1rem;
    gap: 30px;
}

section.params .field{
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: auto;
    flex-grow: 1;
    column-gap: 0.5rem;
}
section.params .field label,
section.params .field select{
    grid-column-start: 1;
    grid-column-end: 3;
}

section.params .field label{
    font-size: 0.9rem;
    font-weight: bold;
}
section.params .field input[type="text"],
section.params .field select{
    text-transform: uppercase;
}
input[type="text"],
input[type="password"],
input[type="number"],
select{
    padding: 8px 16px;
    font-size: 1.1rem;
    font-weight: 300;
    border-radius: var(--radius-sm);
    border: 2px solid color-mix(in srgb, var(--primary-AA), gray 80%);
    color: var(--text-color);
    background-color: var(--page-bg);
}